<!-- <p>about works!</p> -->
<section class="about-section b2">
    <div class="container bx">
        <div class="row">
            <div class="col-12 col-lg-6 align-content-lg-stretch" style="margin-top: 110px;  margin-left: 145px; background-color: #ede9e38c;
                        border-radius: 18px;">
                <header class="heading" style="color: black">
                    <h2 class="entry-title" style="color: black">About Tech-Learn</h2>

                    <p style="color: black">Access hundreds of hours of on-demand training in short, topical lessons, containing videos, knowledge assessments, and interactive virtual lab exercises. Lessons are organized into task-oriented learning paths, all included in your library subscription.</p>
                </header><!-- .heading -->

                <div class="entry-content ezuca-stats">
                    <div class="stats-wrap flex flex-wrap justify-content-lg-between">
                        <div class="stats-count">
                            30<span>K+</span>
                            <p style="color: black">STUDENTS LEARNING</p>
                        </div><!-- .stats-count -->

                        <div class="stats-count">
                            1000<span>+</span>
                            <p style="color: black">ACTIVE COURSES</p>
                        </div><!-- .stats-count -->

                        <div class="stats-count">
                            200<span>+</span>
                            <p style="color: black">INSTRUCTORS ONLINE</p>
                        </div><!-- .stats-count -->

                        <div class="stats-count">
                            7<span>+</span>
                            <p style="color: black">Country Reached</p>
                        </div><!-- .stats-count -->
                    </div><!-- .stats-wrap -->
                </div><!-- .ezuca-stats -->
            </div><!-- .col -->

            <!-- <div class="col-12 col-lg-6 flex align-content-center mt-5 mt-lg-0">
                <div class="ezuca-video position-relative">
                    <div class="video-play-btn position-absolute">
                        <img src="images/video-icon.png" alt="Video Play">
                    </div><!-- .video-play-btn -->

                    <!-- <img src="images/video-screenshot.png" alt="">
                </div><!-- .ezuca-video >
            </div> -->
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- .about-section -->
<router-outlet></router-outlet>