

    <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="bg">
<div class="container st">
  <h2 style="color: azure; margin-left: 138px;">&nbsp; &nbsp;Login</h2><br><br>
  <!-- <p>In this example, we use <code>.was-validated</code> to indicate what's missing before submitting the form:</p> -->
  <form class="was-validated" #frm="ngForm">
    <div class="form-group">
      <label for="uname" style="color: azure">User ID:</label><br>
      <input type="text" class="form-control" id="uname" placeholder="&nbsp;&nbsp;Enter Id" style="
        width: 361px;
        height: 40px; border-radius: 4px;" [(ngModel)]="id" [ngModelOptions]="{standalone: true}" required >
      <!-- <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div> -->
    </div>
    <div class="form-group">
      <label for="pwd" style="color: azure">Password:</label>
      <input type="text" class="form-control" [(ngModel)]="pwd" [ngModelOptions]="{standalone: true}" id="pwd" placeholder="Enter password" required >
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <br>
    <br>
    <button type="submit" (click)="Login()" class="btn btn-primary" style="background-color: #52626f; margin-left: 155px;">Submit</button>
  </form>
</div>
</div>
</body>
</html>


<router-outlet></router-outlet>
