

<div class="hero-content-overlay b1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="hero-content-wrap flex flex-column justify-content-center align-items-start">
                    <header class="entry-header">
                        <h4>Get started with online courses</h4>
                        <h1 style="color: rgba(0, 0, 0, 0.73);">best online<br/>Learning system</h1>
                    </header><!-- .entry-header -->

                    <div class="entry-content">
                        <p>Did you know your company can get you unlimited access to TechLearn's top 3,500+ business & technical courses?
<br>
                                Employees at Apple, eBay, Princeton University, Eventbrite, Booking.com, Lyft, and Volkswagen use TechLearn at work.</p>
                    </div><!-- .entry-content -->

                    <footer class="entry-footer read-more">
                        <font color= "black"><a routerLink="abt">read more</a></font>
                    </footer><!-- .entry-footer -->
                </div><!-- .hero-content-wrap -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .hero-content-hero-content-overlay -->
  