<!-- <p>courses works!</p> -->
<section class="featured-courses vertical-column courses-wrap" style="margin-top: 60px;  margin-left: 5px">
        <div class="container">
            <div class="row mx-m-25">
                <div class="col-12 px-25">
                    <header class="heading flex flex-wrap justify-content-between align-items-center">
                        <h2 class="entry-title" style="margin-left:391px; margin-top: 38px; ">Available Trainers</h2>

                        <!-- <nav class="courses-menu mt-3 mt-lg-0">
                            <ul class="flex flex-wrap justify-content-md-end align-items-center">
                                <li class="active"><a href="#">All</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Web Development</a></li>
                                <li><a href="#">Photography</a></li>
                            </ul>
                        </nav>.courses-menu -->
                    </header><!-- .heading -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-4 px-25">
                    <div class="course-content">
                        

                        <div class="course-content-wrap">
                            <header class="entry-header" style="height: 128px;">
                                <h2 class="entry-title"><a href="#"><b>Ms. Lara Croft</b></a></h2>

                                <div class="entry-meta flex align-items-center">
                                    <div class="course-author">=>  DOT Net Development <br></div><br>
                                    <!-- <div class="course-author"><a href="#">17 yrs Experience </a></div><br> -->
                                    <div class="course-author" style="margin-left: -179px; margin-top: 20px;"> <br>=>  15234 students</div><br>

                                    <!-- <div class="course-date">July 21, 2018</div> -->
                                </div><!-- .course-date -->
                                <!-- <h3 class="entry-title">17 yrs Experience</h3> -->
                            </header><!-- .entry-header -->

                            <footer class="entry-footer flex justify-content-between align-items-center">
                                <div class="course-cost">
                                    17 years 
                                </div><!-- .course-cost -->

                                <div class="course-ratings flex justify-content-end align-items-center">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-o"></span>

                                    <span class="course-ratings-count" style="color: black">(11896 votes)</span>
                                </div><!-- .course-ratings -->
                            </footer><!-- .entry-footer -->
                        </div><!-- .course-content-wrap -->
                    </div><!-- .course-content -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-4 px-25">
                        <div class="course-content">
                            
    
                            <div class="course-content-wrap">
                                <header class="entry-header" style="height: 128px;">
                                    <h2 class="entry-title"><a href="#"><b>Ms. Lara Croft</b></a></h2>
    
                                    <div class="entry-meta flex align-items-center">
                                        <div class="course-author">=>  DOT Net Development <br></div><br>
                                        <!-- <div class="course-author"><a href="#">17 yrs Experience </a></div><br> -->
                                        <div class="course-author" style="margin-left: -179px; margin-top: 20px;"> <br>=>  15234 students</div><br>
    
                                        <!-- <div class="course-date">July 21, 2018</div> -->
                                    </div><!-- .course-date -->
                                    <!-- <h3 class="entry-title">17 yrs Experience</h3> -->
                                </header><!-- .entry-header -->
    
                                <footer class="entry-footer flex justify-content-between align-items-center">
                                    <div class="course-cost">
                                        17 years 
                                    </div><!-- .course-cost -->
    
                                    <div class="course-ratings flex justify-content-end align-items-center">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star-o"></span>
    
                                        <span class="course-ratings-count" style="color: black">(11896 votes)</span>
                                    </div><!-- .course-ratings -->
                                </footer><!-- .entry-footer -->
                            </div><!-- .course-content-wrap -->
                        </div><!-- .course-content -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-4 px-25">
                            <div class="course-content">
                                
        
                                <div class="course-content-wrap">
                                    <header class="entry-header" style="height: 128px;">
                                        <h2 class="entry-title"><a href="#"><b>Ms. Lara Croft</b></a></h2>
        
                                        <div class="entry-meta flex align-items-center">
                                            <div class="course-author">=>  DOT Net Development <br></div><br>
                                            <!-- <div class="course-author"><a href="#">17 yrs Experience </a></div><br> -->
                                            <div class="course-author" style="margin-left: -179px; margin-top: 20px;"> <br>=>  15234 students</div><br>
        
                                            <!-- <div class="course-date">July 21, 2018</div> -->
                                        </div><!-- .course-date -->
                                        <!-- <h3 class="entry-title">17 yrs Experience</h3> -->
                                    </header><!-- .entry-header -->
        
                                    <footer class="entry-footer flex justify-content-between align-items-center">
                                        <div class="course-cost">
                                            17 years 
                                        </div><!-- .course-cost -->
        
                                        <div class="course-ratings flex justify-content-end align-items-center">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star-o"></span>
        
                                            <span class="course-ratings-count" style="color: black">(11896 votes)</span>
                                        </div><!-- .course-ratings -->
                                    </footer><!-- .entry-footer -->
                                </div><!-- .course-content-wrap -->
                            </div><!-- .course-content -->
                        </div><!-- .col -->

                        <div class="col-12 col-md-6 col-lg-4 px-25">
                                <div class="course-content">
                                    
            
                                    <div class="course-content-wrap">
                                        <header class="entry-header" style="height: 128px;">
                                            <h2 class="entry-title"><a href="#"><b>Ms. Lara Croft</b></a></h2>
            
                                            <div class="entry-meta flex align-items-center">
                                                <div class="course-author">=>  DOT Net Development <br></div><br>
                                                <!-- <div class="course-author"><a href="#">17 yrs Experience </a></div><br> -->
                                                <div class="course-author" style="margin-left: -179px; margin-top: 20px;"> <br>=>  15234 students</div><br>
            
                                                <!-- <div class="course-date">July 21, 2018</div> -->
                                            </div><!-- .course-date -->
                                            <!-- <h3 class="entry-title">17 yrs Experience</h3> -->
                                        </header><!-- .entry-header -->
            
                                        <footer class="entry-footer flex justify-content-between align-items-center">
                                            <div class="course-cost">
                                                17 years 
                                            </div><!-- .course-cost -->
            
                                            <div class="course-ratings flex justify-content-end align-items-center">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star-o"></span>
            
                                                <span class="course-ratings-count" style="color: black">(11896 votes)</span>
                                            </div><!-- .course-ratings -->
                                        </footer><!-- .entry-footer -->
                                    </div><!-- .course-content-wrap -->
                                </div><!-- .course-content -->
                            </div><!-- .col -->

                            <div class="col-12 col-md-6 col-lg-4 px-25">
                                    <div class="course-content">
                                        
                
                                        <div class="course-content-wrap">
                                            <header class="entry-header" style="height: 128px;">
                                                <h2 class="entry-title"><a href="#"><b>Ms. Lara Croft</b></a></h2>
                
                                                <div class="entry-meta flex align-items-center">
                                                    <div class="course-author">=>  DOT Net Development <br></div><br>
                                                    <!-- <div class="course-author"><a href="#">17 yrs Experience </a></div><br> -->
                                                    <div class="course-author" style="margin-left: -179px; margin-top: 20px;"> <br>=>  15234 students</div><br>
                
                                                    <!-- <div class="course-date">July 21, 2018</div> -->
                                                </div><!-- .course-date -->
                                                <!-- <h3 class="entry-title">17 yrs Experience</h3> -->
                                            </header><!-- .entry-header -->
                
                                            <footer class="entry-footer flex justify-content-between align-items-center">
                                                <div class="course-cost">
                                                    17 years 
                                                </div><!-- .course-cost -->
                
                                                <div class="course-ratings flex justify-content-end align-items-center">
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star-o"></span>
                
                                                    <span class="course-ratings-count" style="color: black">(11896 votes)</span>
                                                </div><!-- .course-ratings -->
                                            </footer><!-- .entry-footer -->
                                        </div><!-- .course-content-wrap -->
                                    </div><!-- .course-content -->
                                </div><!-- .col -->

                                <div class="col-12 col-md-6 col-lg-4 px-25">
                                        <div class="course-content">
                                            
                    
                                            <div class="course-content-wrap">
                                                <header class="entry-header" style="height: 128px;">
                                                    <h2 class="entry-title"><a href="#"><b>Ms. Lara Croft</b></a></h2>
                    
                                                    <div class="entry-meta flex align-items-center">
                                                        <div class="course-author">=>  DOT Net Development <br></div><br>
                                                        <!-- <div class="course-author"><a href="#">17 yrs Experience </a></div><br> -->
                                                        <div class="course-author" style="margin-left: -179px; margin-top: 20px;"> <br>=>  15234 students</div><br>
                    
                                                        <!-- <div class="course-date">July 21, 2018</div> -->
                                                    </div><!-- .course-date -->
                                                    <!-- <h3 class="entry-title">17 yrs Experience</h3> -->
                                                </header><!-- .entry-header -->
                    
                                                <footer class="entry-footer flex justify-content-between align-items-center">
                                                    <div class="course-cost">
                                                        17 years 
                                                    </div><!-- .course-cost -->
                    
                                                    <div class="course-ratings flex justify-content-end align-items-center">
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star-o"></span>
                    
                                                        <span class="course-ratings-count" style="color: black">(11896 votes)</span>
                                                    </div><!-- .course-ratings -->
                                                </footer><!-- .entry-footer -->
                                            </div><!-- .course-content-wrap -->
                                        </div><!-- .course-content -->
                                    </div><!-- .col -->

                <div class="col-12 px-25 flex justify-content-center">
                    <a class="btn" href="#">View all trainers</a>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </section><!-- .courses-wrap -->