<!DOCTYPE html>

<html lang="en">

<head>

	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous">
	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous">
	</script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous">
	</script>

	<script src='https://kit.fontawesome.com/a076d05399.js'></script>

	<style type="text/css">
		
		.s1
		{
			font-weight: bold;
			color: #006400;
		}

		th,td
		{
			color: #0a0b0dba;
			font-weight: bold;
			text-align: center;
		}

	</style>

</head>

<body>
        <div class="bg3">

    <div class="container p-2" style="margin-top: -218px; margin-left: -268px;">

        <div class="py-4 text-center">
            <h3>User Profile Details</h3>

        </div>

        <div class="row m-4" style="width: 1117px;">

            <div class="col-sm-4 text-center">
                <img src="../../assets/images/team-4.jpg" 
                width="250" style="border-radius: 138px;">
                <a href="">
                	<button type="button" class="btn btn-success btn-md m-4" style="font-weight: bold; background-color: rgba(0, 0, 0, 0.46); border-color: #000000;">Edit Profile Picture</button>
                </a>
            </div>

            <div class="col-sm-8">
                <div class="modal-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>Name</td>
                                <td>firstname surname</td>
                            </tr>

                            <tr>
                                <td>Email</td>
                                <td>abc123@gmail.com</td>
                            </tr>

                            <tr>
                                    <td>Email</td>
                                    <td>abc123@gmail.com</td>
                                </tr>

                                <tr>
                                        <td>Email</td>
                                        <td>abc123@gmail.com</td>
                                    </tr>


                            <tr>
                                <td>Address</td>
                                <td>House/Flat/Apatment no., St./Road name, P.O., P.S., District, State, Country, PIN-Code</td>
                            </tr>

                            <tr>
                                <td>Gender</td>
                                <td>Male/Female/Others</td>
                            </tr>

                            <tr>
                                <td>D-O-B</td>
                                <td>dd/MM/yyyy</td>
                            </tr>

                            <tr>
                                <td>Phone Number</td>
                                <td>8965......</td>
                            </tr>

                            <tr>
                                <td>Course Starting Date</td>
                                <td>dd/MM/yyyy</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
