.bg1{
    background-image: url("../../assets/images/lamp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 220px;

}

.st1{
    width: 50%;
    padding-left: -31px;
    margin-left: -49px;
    margin-top: -30px;
}

.fc1{
    width: 267px;
    margin-left: 141px;
    height: 37px;
    /* margin-top: -36px; */
}

.hd1{
    /* width: 267px; */
    margin-left: 141px;
}