
<html>
<body style="background-image: url('../../assets/images/dsh.png'); padding: 187px; background-size: contain;">
<div class="txt">
    <h2>
       <br> Welcome Back, Saksham!
    </h2>
</div>

<!-- <div class="col-sm-6" style="margin-left: -232px; margin-top: 122px; top:40px; left:55px">
    <div class="card" style="height: 255px;
    width: 276px;">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div> -->

  <div class="container" style="padding-top: 150px; margin-left: -127px;">

    <div class="card-deck" style="width: 315px;">
        <div class="card" style="width:400px; height:300px; border-radius: 2rem; color: white;">
            <span style="padding: 15px; color: #dbeefc" class="fa fa-search fa-4x"></span>
            <div class="card-body" style="margin-top: -8px;">
                <h3 class="card-title" style="color: black"><b>Find Trainers</b></h3>
                <p class="card-text" style="color: black">Search for available Trainers and Courses</p>
                <button class="button"><a routerLink="../srch" style="color: aliceblue">View</a></button>

            </div>
        </div>
    </div>
    </div>  

    <div class="container" style="padding-top: 150px; margin-left: -132px;">

        <div class="card-deck" style="width: 315px;">
            <div class="card" style="width:400px; height:306px; right: -827px; margin-top: -455px; border-radius: 2rem; color: white;">
                <span style="padding: 15px; color: #dbeefc" class="fa fa-pencil-square-o fa-5x"></span>
                <div class="card-body">
                    <h3 class="card-title" style="color: black"><b>Current Trainings</b></h3>
                    <p class="card-text" style="color: black">Know your ongoing trainings</p>
                    <!-- <a routerLink="crtr" class="btn btn-warning col-md-12">View</a> -->
                    <button class="button"><a routerLink="../crtr" style="color: aliceblue">View</a></button>
    
                </div>
            </div>
        </div>
        </div>  

        <div class="container" style="padding-top: 150px; margin-left: -120px;">

            <div class="card-deck" style="width: 315px;">
                <div class="card" style="width:400px; height:306px; right: -410px; margin-top: -606px; border-radius: 2rem; color: white;">
                    <span style="padding: 15px; color: #dbeefc" class="	fa fa-check-square-o fa-5x"></span>
                    <div class="card-body">
                        <h4 class="card-title" style="color: black; margin-top: -17px;"><b>Completed Trainings</b></h4>
                        <p class="card-text" style="color: black">Know your completed trainings.</p>
                        <button class="button" ><a routerLink="../cotr" style="color: aliceblue">View</a></button>
        
                    </div>
                </div>
            </div>
            </div>  

</body>
</html>
<router-outlet></router-outlet>